img {width: 300px;}

body {color:#343434}

header {background: #2F3061;
       color: #F7FFF7}

.projects{background: #F7FFF7}
.projects a { color: #F7FFF7;
            background:#2F3061;
            text-decoration: none;
            padding: 8px;
            border-radius: 4px;}
.projects .btn:hover{background: rgba( 47,48,97, 88%)}

.work-experience {background: #A1C6D7}
footer {background: #343434}
a {color:#FFE66D}
a:hover {text-decoration: none;}